.hamburger {
  position: absolute;
  right: 5%;
  // top: 40px;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  display: none;

  .line {
    width: 30px;
    height: 3px;
    background-color: teal;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease;
  }

  &.is-active {
    .line {
      background-color: #ffffff;
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  &:hover .line {
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
