.quote {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.quote p {
  font-size: 2rem;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.3rem;
  text-align: right;
  color: #a1e0e0;
}


@media only screen and (max-width: 768px) {
  .quote p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .quote {
    padding: 2rem;
    margin: 2.5rem auto;
  }

  .quote p {
    font-size: 1.2rem
  }

  .quote figcaption {
    font-size: 1rem;
  }
}