.item {
  margin: 1rem 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #212121;
  min-height: 115px;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  color: #b0bec5;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
}

@media only screen and (max-width: 450px) {
  .item {
    flex-direction: column;
  }

  .item figure {
    width: 100%;
  }

  .item figure {
    margin-bottom: 1rem;
  }

  .item blockquote {
    margin-bottom: 0.5rem;
  }
}