.main {
  margin: 2.5rem auto;
  width: 100%;
  max-width: 75%;
}

.main h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 450px) {
  .main h2 {
    font-size: 1.6rem;
    margin: 2rem auto 2rem auto;
  }
}

//Portrait Queries
@media only screen and (max-width: 1025px) and (orientation: portrait) {
  .main {
    max-width: 90%;
  }
}
