.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.main h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}


@media only screen and (max-width: 450px) {

  .main {
    margin: 2rem auto;
  }

  .main h2 {
    font-size: 1.5rem;
  }
}