.item {
  //margin: 1rem 0;
  margin: 0;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #212121;
  //min-height: 115px;
  //min-height: 120px;
  position: relative;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
  align-self: flex-start;
}

.item blockquote {
  margin: 0;
  text-align: left;
  /*font-size: 1.1rem;*/
  font-size: 1rem;
  line-height: 1.3;
  color: #b0bec5;
}

.item p {
  margin: 0 0 0.5rem 0;

}

.item figcaption {
  font-style: italic;
  color: #566d6d;
  font-size: 0.9rem;
  position: absolute;
  bottom: 1rem;
}

.btn svg {
  width: 23px;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .item {
    flex-direction: column;
    padding-bottom: 1.5rem;

    figcaption {
      position: relative;
      bottom: unset;
    }

  }

  .item figure {
    width: 100%;
  }

  .item figure {
    margin-bottom: 1rem;
  }

  .item blockquote {
    margin-bottom: 0.5rem;
  }
}

//Portrait Queries
//@media only screen and (max-width: 1025px) and (orientation: portrait) {
//}

