@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #263238;
}

button,
a {
  transition: all ease 0.5s;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #2f4f4f;
  color: white;
  border-radius: 4px;
  padding: 0.7rem 1rem;
  border: 1px solid #2f4f4f;
  cursor: pointer;
  transition: all ease 0.5s;
  font-size: 14px;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: none;
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  transition: all ease 0.5s;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

.new-quote {
  max-width: 45rem;
  margin: 0 auto;
}
