.header {
  align-items: center;
  background-color: #212121;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  position: relative;
}

.nav {
  li {
    font-size: 1.1rem;
  }

  a {
    color: #ffffff;
    &:hover,
    &:active,
    &.active {
      color: #009688;
    }
  }
}

.menuNav.showMenu {
  width: 100%;
  transition: all ease 0.3s;
}

//Min Width Queries
@media only screen and (min-width: 768px) {
  .nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
    }

    li {
      margin-left: 1.5rem;
      font-size: 1.1rem;
    }
  }
}

//Max Width Queries
@media only screen and (max-width: 768px) {
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 5rem;
    background: #212121;
    right: 0;
    bottom: 0;
    height: calc(100vh - 5rem);
    width: 0;
    overflow: hidden;
    z-index: 9;
    transition: all ease 0.25s;
  }

  .nav {
    ul {
      flex-direction: column;
      padding-top: 2.5rem;
    }

    li {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin: 1rem auto;
    }
  }
}
