.header {
  align-items: center;
  background-color: #212121;
  display: flex;
  height: 5.5rem;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #009688;
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 2.5rem;
  }

  .logo {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    padding: 0 1.5rem 0 1rem;
  }

  .nav li {
    font-size: 1.2rem;
    margin: 0;
  }

  .nav li:first-of-type {
    margin-right: 1rem;
  }
}
